<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/396b0aad36.js" crossorigin="anonymous"></script>

    <title>Arabica restaurant</title>
  </head>
  <body>
    <header>
        <div class="row no-gutters">
            <a href="/home" class="col-md-4 logo">
            </a>
            <div class="col-md-8">
              <div class="row no-gutters bg-color-name-title">
                <div class="col heading">
                  <h1 class="name">Arabica Restaurant</h1>
                  <h2 class="title">Authentic Syrian food</h2>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col">
                  <ul id="nav" class="list-inline nav-container">
                    <li class="col-6 col-sm-3 ui-nav-colr-home list-inline-item menu-item">
                      <a href="/home" class="hvr-sweep-to-bottom"><span>Home</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-reservation list-inline-item menu-item">
                      <a href="/reservation" class="hvr-sweep-to-bottom"><span>Reservation</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-menu list-inline-item menu-item">
                      <a href="/menu" class="hvr-sweep-to-bottom"><span>Menu</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-contact list-inline-item menu-item">
                      <a href="/contact" class="hvr-sweep-to-bottom"><span>Contact</span></a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
        </div>
    </header>

    <section class="container-fluid">
      <div class="row row-table">
        <div class="col-md-8 bg-color-three-reasons section-colomn">
          <div class="row">
            <div class="col">
              <h3 class="section-heading">About us</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
              <div class="row">
                <div class="col-2">
                  <i class="three-reasons-icon fa-solid fa-bookmark" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <h4 class="three-reasons-heading">Arabica Restaurant</h4>
                  <p>Arabica restaurant is an authentic Syrian food restaurant. It opened in 1990 by chief Jamal.</p>
                </div>
              </div>
            </div>
            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
              <div class="row">
                <div class="col-2">
                  <i class="three-reasons-icon fa fa-bolt" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <h4 class="three-reasons-heading">Our speciality</h4>
                  <p>In addition to our food menu we also offer Syrian dizert like Harisa and Baklava.</p>
                </div>
              </div>
            </div>
            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
              <div class="row">
                <div class="col-2">
                  <i class="three-reasons-icon fa-solid fa-utensils" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                  <h4 class="three-reasons-heading">What do we offer?</h4>
                  <p>We offer a variety of Syrian dishes including Kubbah, Mashawi and Warak inab. Our ingredients are picked with care.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div id="footer-details" class="row">
        <div class="col-sm-4">
          <h5 class="general-sub">About</h5>
          <p class="inline-block">Arabica is an authentic Syrian restaurant. we serve a variety of delicious Syrian dishes.</p>
        </div>
        <div class="col-sm-4">
          <h5 class="general-sub">Menu</h5>
          <p class="inline-block">Check our menu here: <a href="/menu" class="general-sub">Menu</a></p>
        </div>
        <div class="col-sm-4">
          <h5 class="general-sub">Social</h5>
          <ul class="list-inline social-links">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="sr-only">instagram</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.youtube.com/" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <span class="sr-only">youtube</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </footer>

   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    
  </body>
</html>